<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title> events </title>
</head>

<body>
{{ user.username }}
{% if not user.is_authenticated %}
<a href="{% url 'login' %}"> Login </a>
{% elif user.is_authenticated %}
<a href="{% url 'logout_api' %}"> Logout </a>
{% endif %}

<div class="container">

{% for event in events %}
    <h2>{{ event.title }}</h2>
    <span>
        {{ event.date_from }} -
        {{ event.date_till }}
    </span>
    <h5>{{ event.description }}</h5>
    <br>
{% endfor %}

{% if user.is_authenticated %}
<a href="{% url 'event_page' %}"> EVENT_PAGE </a>
{% endif %}

{% if user.is_authenticated %}
    <form action="{% url 'add_event' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK">
    </form>
{% endif %}
</div>

</body>
</html>